<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Productos</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
      </nav>
    </header>
    <main>
      <h1>Productos</h1>
    </main>

    <section class="products">
      <!-- No es pubic=>En controller/products.controller.js (modif json x render(products)) -->
      <% data.forEach(producto => { %>
      <h2><%= producto.title %></h2>
      <p><%= producto.description %></p>

      <% }) %>
    </section>
    <footer>
      <small> copyrigth 2025 </small>
    </footer>
  </body>
</html>
